@keyframes shootingStar {
    from {
        top: 0;
        left: 0;
        opacity: 0;
    }
    to {
        top: 100%;
        left: 100%;
        opacity: 1;
    }
}
@keyframes appear {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

#welcome {
    animation: appear 2s ease-in-out;
    animation-delay: 0s;
}

#ditto {
    animation: appear 2s ease-in-out;
    animation-delay: 1s;
}


.text-white {
    color: #fff;  /* White color */
}

.ditto-color {
    color: #9f65a5;  /* Ditto color */
}

.invisible {
    opacity: 0;
}


body {
    overflow-x: hidden;
    overflow-y: auto;
    margin: 0;
    background: #000;
    position: relative;
    cursor: none;
    
    
}

body::before,
body::after,
.section::before,
.section::after,
.hero-section::before,
.hero-section::after,
#mission-statement::before,
#mission-statement::after,
#features::before,
#features::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    height: 5px;
    width: 5px;
    background: #9f65a5;
    box-shadow: 0 0 10px #9f65a5;
    animation: shootingStar 2s infinite linear;
}

body::before { animation-delay: 1s; }
body::after { animation-delay: 3s; }
.section::before { animation-delay: 2s; }
.section::after { animation-delay: 4s; }
.hero-section::before { animation-delay: 1.5s; }
.hero-section::after { animation-delay: 2.5s; }
#mission-statement::before { animation-delay: 1.2s; }
#mission-statement::after { animation-delay: 2.2s; }
#features::before { animation-delay: 1.7s; }
#features::after { animation-delay: 2.7s; }

.section {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    color: #fff;
}

.hero-section {
    background: url('hero-background.jpg') no-repeat center center;
    background-size: cover;
}

.bg {
    position: absolute;
    width: 100%;
    height: 200vh;
    background-image: url('image1.jpg'), url('image2.jpg'), url('image3.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    will-change: transform;
    z-index: -1;
}

.bg {
    background-position: center 0%, center 33.333%, center 66.667%;
}

.dot {
    position: absolute;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: #fff;
}

.nav-link:hover {
    color: #9f65a5 !important;
}

.panel.panel-ditto {
    background-color: #9f65a5;
    color: #fff;
    padding: 20px;
    border-radius: 8px;
    transition: box-shadow 0.3s;
}

.panel.panel-ditto:hover {
    box-shadow: 0 0 10px #fff;
}

.ditto-color {
    color: #9f65a5;
}
.panel.panel-ditto1{
    background-color: #fff;
    color: #9f65a5;
    padding: 20px;
    border-radius: 8px;
    transition: box-shadow 0.3s;
}
.panel.panel-ditto1:hover {
    box-shadow: 0 0 10px #9f65a5;
}
.panel.panel-ditto, .panel.panel-ditto1 {
    /* Add a smooth transition for the transform property */
    transition: transform 0.3s ease, box-shadow 0.3s;
}

.panel.panel-ditto:hover, .panel.panel-ditto1:hover {
    /* On hover, scale the panel up to simulate inflating */
    transform: scale(1.05);
}

.panel.panel-ditto, .panel.panel-ditto1 {
    /* When not hovering, scale the panel back to its original size to simulate deflating */
    transform: scale(1);
}
.appear {
    animation: appear 2s ease-in-out forwards;
}
#profile-pic {
    width: 100px;   /* adjust as necessary */
    height: 100px;  /* adjust as necessary */
    border-radius: 50%;  /* this makes the image circular */
    object-fit: cover;   /* this ensures that the image covers the full area of the circle */
}
#footer-section {
    background-color: #000000; /* Ditto color */
    color: #fff; /* Text color */
    padding: 2px 0; /* Top and bottom padding - adjust as needed */
}
#glowstick {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    position: absolute;
    pointer-events: none;
    z-index: 10000;
    background-color: #9f65a5;
    box-shadow: 0 0 10px #9f65a5, 0 0 20px #9f65a5, 0 0 30px #9f65a5, 0 0 40px #9f65a5;
  }
  .card {
    background-color: rgba(255, 255, 255, 0.1); /* This will give the card a translucent background */
    border: 1px solid #ffffff; /* This will give the card a white border */
    color: #ffffff; /* This will make the text white */
    margin-bottom: 30px; /* This will add space below each card */
}
.btn-link {
    color: #ffffff; /* This will make the text of the questions white */
}

.btn-link:hover, .btn-link:focus {
    color: #ffffff; /* This will keep the text white on hover and when it's focused */
    text-decoration: none; /* This will remove the underline on hover and when it's focused */
}

.star::before,
.star::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    height: 5px;
    width: 5px;
    background: #9f65a5;
    box-shadow: 0 0 10px #9f65a5;
    animation: shootingStar 8s infinite linear;
}

.star:nth-child(odd)::before { animation-delay: 2s; }
.star:nth-child(even)::before { animation-delay: 3s; }
.star:nth-child(odd)::after { animation-delay: 4s; }
.star:nth-child(even)::after { animation-delay: 8s; }

.problem-section,
.subheading {
    background-color: #f9f9f9; /* change this to your preferred color */
    border-radius: 5px; /* rounded corners */
    box-shadow: 0 2px 5px rgba(0,0,0,0.3); /* shadow effect */
    padding: 20px; /* space around content */
    margin-bottom: 20px; /* space below each card */
}

.embed-responsive {
    position: relative;
    display: block;
    width: 100%;
    padding: 0;
    overflow: hidden;
  }
  
  .embed-responsive::before {
    content: "";
    display: block;
    padding-top: 56.25%; /* 16:9 aspect ratio */
  }
  
  .embed-responsive iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 0;
  }
  
  @media (max-width: 767px) {
    .embed-responsive::before {
      padding-top: 75%; /* 4:3 aspect ratio for smaller screens */
    }
  }
  
